{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Star Wiki</title>
    {% tailwind_css %}
  </head>

  <style>
    .hover-effect {
      transition: box-shadow 0.3s;
    }

    .hover-effect:hover {
      box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.5);
    }
  </style>

  <body class="bg-black flex flex-col min-h-screen">
    <header>
      <nav
        class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 left-0 w-full shadow-lg z-50"
      >
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <a href="/" class="flex items-center">
            <img class="h-8 mr-3" src="../media/home/logo.png" />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Star Wiki</span
            >
          </a>
          <div class="flex items-center md:order-2">
            <button
              data-collapse-toggle="mobile-menu-language-select"
              type="button"
              class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="mobile-menu-language-select"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                fill="currentColor"
                aria-hidden="true"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="mobile-menu-language-select"
          >
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
              <li>
                <a
                  href="/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/films/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  aria-current="page"
                  >Films</a
                >
              </li>
              <li>
                <a
                  href="/characters/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Characters</a
                >
              </li>
              <li>
                <a
                  href="/planets/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Planets</a
                >
              </li>
              <li>
                <a
                  href="/species/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Species</a
                >
              </li>
              <li>
                <a
                  href="/starships_vehicles/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Starships & Vehicles</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-grow">
      {% block content %}

      <div class="relative w-full h-screen">
        <img
          src="../media/home/background2.jpg"
          class="absolute inset-0 w-full h-full object-cover scale-x-[-1]"
        />
        <div
          class="absolute inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
        >
          <h1
            class="animate-pulse text-3xl sm:text-5xl font-bold text-white text-center"
          >
            Bienvenue petit Padawan
          </h1>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-5 xl:grid-cols-2 p-4">
        <div
          class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect"
        >
          <a href="/films/">
            <h1 class="text-2xl sm:text-4xl font-bold p-6">Films</h1>
            <p class="break-words lg:text-lg p-6">
              Les films constituent une partie essentielle de l'univers de Star
              Wars. Ils nous transportent dans une galaxie lointaine et nous
              font vivre des aventures épiques. Chaque film offre son lot
              d'action, de drame, de romance et de moments mémorables. Des
              personnages emblématiques, tels que Luke Skywalker, Darth Vader et
              Princess Leia, prennent vie à l'écran et nous captivent avec leurs
              histoires. Que ce soit la trilogie originale, la prélogie ou la
              nouvelle trilogie, chaque film apporte sa contribution à
              l'histoire riche et complexe de Star Wars.
            </p>
          </a>
        </div>

        <a href="/films/">
          <div id="hover" class="cursor-pointer rounded-md hover-effect">
            <img
              class="rounded-md object-cover w-full h-max sm:aspect-video md:aspect-video lg:aspect-video xl:aspect-square 2xl:aspect-video"
              src="../media/home/star-wars.jpg"
            />
          </div>
        </a>

        <div
          class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect"
        >
          <a href="/characters/">
            <h1 class="text-2xl sm:text-4xl font-bold p-6">Characters</h1>
            <p class="break-words lg:text-lg p-6">
              Les personnages de Star Wars sont incroyablement diversifiés et
              fascinants. De Jedi courageux à des Sith redoutables, des pilotes
              audacieux à des contrebandiers rusés, chaque personnage a sa
              propre histoire et son propre rôle à jouer dans la saga. Certains
              sont des héros incontestés, d'autres sont des anti-héros en quête
              de rédemption, et d'autres encore sont des méchants impitoyables.
              Leurs interactions, leurs choix et leurs évolutions façonnent
              l'univers de Star Wars de manière significative.
            </p>
          </a>
        </div>

        <a href="/characters/">
          <div id="hover" class="cursor-pointer rounded-md hover-effect">
            <img
              class="rounded-md object-cover w-full h-max sm:aspect-video md:aspect-video lg:aspect-video xl:aspect-square 2xl:aspect-video"
              src="../media/home/characters.jpeg"
            />
          </div>
        </a>

        <div
          class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect"
        >
          <a href="/planets/">
            <h1 class="text-2xl sm:text-4xl font-bold p-6">Planets</h1>
            <p class="break-words lg:text-lg p-6">
              Les planètes de Star Wars sont des mondes extraordinaires qui
              servent de décors à l'action et aux aventures de la saga. De
              Tatooine, avec ses vastes étendues désertiques et ses deux
              soleils, à Coruscant, une métropole galactique animée, en passant
              par Hoth, une planète glaciale inhospitalière, chaque planète a sa
              propre atmosphère, sa propre culture et son propre paysage.
              Certaines planètes sont le théâtre de batailles épiques, tandis
              que d'autres abritent des communautés pacifiques ou des mystères
              anciens.
            </p>
          </a>
        </div>

        <a href="/planets/">
          <div id="hover" class="cursor-pointer rounded-md hover-effect">
            <img
              class="rounded-md object-cover w-full h-max sm:aspect-video md:aspect-video lg:aspect-video xl:aspect-square 2xl:aspect-video"
              src="../media/home/planet.png"
            />
          </div>
        </a>

        <div
          class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect"
        >
          <a href="/species/">
            <h1 class="text-2xl sm:text-4xl font-bold p-6">Species</h1>
            <p class="break-words lg:text-lg p-6">
              Les espèces de Star Wars sont variées et captivantes. Des humains
              aux Wookiees, en passant par les droïdes et les Hutts, chaque
              espèce possède des caractéristiques uniques qui les distinguent.
              Certaines espèces sont connues pour leur force physique, d'autres
              pour leur intelligence ou leurs compétences techniques. Certaines
              espèces sont en conflit les unes avec les autres, tandis que
              d'autres coexistent pacifiquement. L'étude des différentes espèces
              de Star Wars nous donne un aperçu de la diversité et de la
              complexité de l'univers dans lequel se déroule la saga.
            </p>
          </a>
        </div>

        <a href="/species/">
          <div id="hover" class="cursor-pointer rounded-md hover-effect">
            <img
              class="rounded-md object-cover w-full h-max sm:aspect-video md:aspect-video lg:aspect-video xl:aspect-square 2xl:aspect-video"
              src="../media/home/jawa.png"
            />
          </div>
        </a>

        <div
          class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect"
        >
          <a href="/starships_vehicles/">
            <h1 class="text-2xl sm:text-4xl font-bold p-6">
              Starships & Vehicles
            </h1>
            <p class="break-words lg:text-lg p-6">
              Les vaisseaux spatiaux et les véhicules sont des éléments
              essentiels de l'univers de Star Wars. Du célèbre Faucon Millenium
              aux chasseurs X-wing en passant par les imposants destroyers
              stellaires, ces engins transportent les personnages à travers la
              galaxie et jouent un rôle clé dans les batailles et les missions.
              Chaque vaisseau a ses propres caractéristiques techniques, son
              design distinctif et son équipement spécialisé. Que ce soit pour
              explorer de nouvelles planètes, combattre les forces du mal ou
              effectuer des courses effrénées, les vaisseaux et véhicules de
              Star Wars sont des icônes emblématiques de la franchise.
            </p>
          </a>
        </div>

        <a href="/starships_vehicles/">
          <div id="hover" class="cursor-pointer rounded-md hover-effect">
            <img
              class="rounded-md object-cover w-full h-max sm:aspect-video md:aspect-video lg:aspect-video xl:aspect-square 2xl:aspect-video"
              src="../media/home/Star-Wars-Ships.jpg"
            />
          </div>
        </a>
      </div>

      {% endblock %}
    </main>

    <footer class="dark:bg-gray-800">
      <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
      >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          © 2023 <a href="/" class="hover:underline">Star Wiki™</a>. All Rights
          Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
        >
          <li>
            <a href="/about/" class="mr-4 hover:underline md:mr-6">About</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
          </li>
          <li>
            <a href="/contact/" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
    </footer>

    {% block scripts %}

    <script>
      function myHoverFunction() {
        const hoverDiv = document.getElementById("hover");
        hoverDiv.classList.toggle("hover-effect");
      }
    </script>

    {% endblock scripts %}
  </body>
</html>
