{% extends 'index.html' %} {% block content %}

<div class="relative w-full h-96">
  <img
    src="../media/home/planet.png"
    class="absolute inset-0 w-full h-full object-cover scale-x-[-1]"
  />
  <div
    class="absolute inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
  >
    <h1
      class="animate-pulse text-3xl sm:text-5xl font-bold text-white text-center"
    >
      Planets
    </h1>
  </div>
</div>

<div
  class="justify-center grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 p-8"
>
  {% for planet in planets %}
  <div class="bg-white border border-gray-200 rounded-lg shadow p-6">
    <h2 class="text-xl font-bold mb-2">{{ planet.name }}</h2>
    <p class="text-gray-600">Rotation: {{ planet.rotation_period }}</p>
    <p class="text-gray-600">Orbite: {{ planet.orbital_period }}</p>
    <p class="mt-4">Diamètre: {{ planet.diameter }}</p>
    <p>Climat: {{ planet.climate }}</p>
    <p>Gravité: {{ planet.gravity }}</p>
    <p>Terrain: {{ planet.terrain }}</p>
    <p>Eau en surface: {{ planet.surface_water }}</p>
    <p>Population: {{ planet.population }}</p>
  </div>
  {% endfor %}
</div>

{% endblock content %}
