{% extends 'index.html' %} {% block content %}

<div class="relative w-full h-96">
  <img
    src="../media/home/jawa.png"
    class="absolute inset-0 w-full h-full object-cover scale-x-[-1]"
  />
  <div
    class="absolute inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50"
  >
    <h1
      class="animate-pulse text-3xl sm:text-5xl font-bold text-white text-center"
    >
      Species
    </h1>
  </div>
</div>
<div
  class="justify-center grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 p-8"
>
  {% for specie in species %}
  <div class="bg-white border border-gray-200 rounded-lg shadow p-6">
    <h2 class="text-xl font-bold mb-2">{{ specie.name }}</h2>
    <p class="text-gray-600">Classification: {{ specie.classification }}</p>
    <p class="text-gray-600">Désignation: {{ specie.designation }}</p>
    <p class="text-gray-600">Taille moyenne: {{ specie.average_height }}</p>
    <p class="text-gray-600">Couleurs de peau: {{ specie.skin_colors }}</p>
    <p class="text-gray-600">Couleurs de cheveux: {{ specie.hair_colors }}</p>
    <p class="text-gray-600">Couleurs des yeux: {{ specie.eye_colors }}</p>
    <p class="text-gray-600">
      Espérance de vie moyenne: {{ specie.average_lifespan }}
    </p>
    <p class="text-gray-600">Planète d'origine: {{ specie.homeworld }}</p>
    <p class="text-gray-600">Langue: {{ specie.language }}</p>
  </div>
  {% endfor %}
</div>

{% endblock content %}
