{% extends 'index.html' %}

{% block content %}
<div class="w-full md:w-auto flex justify-center items-center m-24 pt-24">
    <h1 class="text-white text-8xl font-bold">About</h1>
</div>
<div class="w-full md:w-auto flex justify-center items-center">
    <span class="text-white text-2xl font-bold text-center m-24">
        Bienvenue sur notre site web Star Wars, où vous pouvez trouver une vaste sélection d'objets et de produits inspirés par cette célèbre saga cinématographique. Notre passion pour Star Wars nous a poussés à créer cette boutique en ligne, afin de partager notre amour pour cette franchise avec d'autres fans du monde entier.

Nous proposons une large gamme de produits, allant des figurines de collection aux vêtements en passant par les accessoires de maison et les gadgets électroniques. Chacun de nos produits est soigneusement sélectionné pour répondre aux normes de qualité les plus élevées et pour vous offrir une expérience d'achat en ligne satisfaisante.

Nous sommes fiers de dire que notre équipe est composée de fans dévoués de Star Wars, qui apportent leur expertise et leur passion à chaque aspect de notre entreprise. Nous nous engageons à fournir un excellent service à la clientèle et à vous offrir une expérience d'achat en ligne agréable et sans tracas.

Nous espérons que vous apprécierez notre sélection de produits et que vous trouverez tout ce que vous cherchez sur notre site. Que la Force soit avec vous !
    </span>
</div>
{% endblock content %}