{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Black Market</title>
    {% tailwind_css %}
  </head>

  <style>
    .hover-effect {
      transition: box-shadow 0.3s;
    }
  
    .hover-effect:hover {
      box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.5);
    }
  </style>

  <body class="bg-black flex flex-col min-h-screen">
    <header>
      <nav class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 left-0 w-full shadow-lg z-50">
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <a href="/" class="flex items-center">
            <img class="h-8 mr-3" src="../media/logo.png" />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >Black Market</span
            >
          </a>
          <div class="flex items-center md:order-2">
            <button
              data-collapse-toggle="mobile-menu-language-select"
              type="button"
              class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="mobile-menu-language-select"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                fill="currentColor"
                aria-hidden="true"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="mobile-menu-language-select"
          >
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
              <li>
                <a
                  href="/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/about/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="/shop/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Sales</a
                >
              </li>
              <li>
                <a
                  href="/shop/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Products</a
                >
              </li>
              <li>
                <a
                  href="/contact/"
                  class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-grow">

      {% block content %}

        <div class="relative w-full h-screen">
          <img src="../media/background2.jpg" class="absolute inset-0 w-full h-full object-cover scale-x-[-1]" />
          <div class="absolute inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <h1 class="animate-pulse text-3xl sm:text-5xl font-bold text-white text-center">Bienvenue chasseur de prime</h1>
          </div>
        </div>

            <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 p-4">

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Introduction</h1>
                <p class="text-sm lg:text-lg sm:text-base break-words p-6">
                  Loin, très loin, dans une galaxie en perpétuel conflit, l'ordre et 
                  la justice sont mis à rude épreuve. Les forces de l'Empire tyrannique 
                  sèment la terreur et l'oppression à travers les systèmes stellaires, 
                  tandis que des seigneurs du crime galactiques prospèrent dans l'ombre. 
                  Dans ces temps sombres, l'équilibre est fragile et la quête de justice 
                  devient la responsabilité des âmes intrépides et des esprits audacieux.
                </p>
              </div>
          

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] sm:object-right md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/palpatine.jpg"></img>
              </div>


              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Nous recrutons !</h1>
                <p class="break-words lg:text-lg p-6">
                  La Guilde des Chasseurs de prime est à la recherche de courageux
                  individus pour rejoindre ses rangs. Si vous avez soif d'aventure,
                  que vous êtes prêt à affronter les pires criminels de la galaxie et
                  à faire pencher la balance en faveur de la justice, cette annonce
                  est pour vous.
                </p>
              </div>

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/recrues.jpg"></img>
              </div>

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Vos missions</h1>
                <p class="break-words lg:text-lg p-6">
                  En tant que chasseur de prime, vous incarnerez une figure
                  légendaire, un gardien sans peur ni pitié, dont la réputation sera
                  connue à travers les étoiles. Vous vous déplacerez de système en
                  système, traquant les fugitifs, les criminels de guerre et les
                  malfrats qui échappent aux griffes de la loi. Vous aurez accès à des
                  technologies de pointe, à des vaisseaux spatiaux rapides et furtifs,
                  ainsi qu'à un arsenal d'armes redoutables pour mener à bien vos
                  missions.
                </p>
              </div>


              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/planet.png"></img>
              </div>

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Profil recherché</h1>
                <p class="break-words lg:text-lg p-6">
                  Quelles sont les qualités requises pour devenir un chasseur de prime
                  ? Tout d'abord, une détermination inébranlable et une volonté de fer
                  sont essentielles. Vous devrez faire face à des situations
                  périlleuses, prendre des décisions cruciales en un clin d'œil et
                  toujours garder un sang-froid absolu.
                </p>
              </div>

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/background.jpeg"></img>
              </div>

              <div class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Prérequis</h1>
                <p class="break-words lg:text-lg p-6">
                  Une connaissance des systèmes stellaires, des planètes et des
                  cultures diverses sera également un atout précieux. La capacité à
                  s'adapter rapidement à des environnements hostiles et à naviguer
                  dans les méandres des pires repaires criminels sera cruciale pour le
                  succès de vos missions.
                </p>
              </div>

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/jawa.png"></img>
              </div>

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Petit +</h1>
                <p class="break-words lg:text-lg p-6">
                  Si vous êtes un as du pilotage, un tireur d'élite ou un maître du
                  combat au corps à corps, vos compétences seront mises à profit. Les
                  chasseurs de prime doivent être polyvalents, capables de s'adapter à
                  toutes les situations et de résoudre les problèmes de manière
                  créative.
                </p>
              </div>

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/background2.jpg"></img>
              </div>

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Rémunération</h1>
                <p class="break-words lg:text-lg p-6">
                  La Guilde des Chasseurs de prime vous offre un réseau de contacts,
                  de soutien et de ressources pour vous aider dans votre quête de
                  justice. Vous serez récompensé généreusement pour chaque cible
                  capturée, avec des primes à la hauteur des plus grandes légendes.
                </p>
              </div>

              <div id="hover" class="cursor-pointer rounded-md hover-effect">
                <img class="rounded-md object-cover w-full h-max sm:aspect-[3/4] md:aspect-square lg:aspect-[2/3] xl:aspect-square 2xl:aspect-video" src="../media/currency.png"></img>
              </div>

              <div id="hover" class="bg-gray-900 text-white p-4 cursor-pointer text-center sm:col-span-2 md:col-span-2 lg:col-span-1 rounded-md flex flex-col justify-center hover-effect">
                <h1 class="text-2xl sm:text-4xl font-bold p-6">Rejoignez-nous !</h1>
                <p class="break-words lg:text-lg p-6">
                  Rejoignez-nous maintenant et devenez une force de changement dans la
                  galaxie. La Guilde des Chasseurs de prime a besoin de vous pour
                  rétablir l'équilibre et apporter la paix aux systèmes opprimés.
                </p>
              </div>

            </div>
          </div>
        </div>

      {% endblock %}

    </main>

    <footer class="dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          © 2023 <a href="/" class="hover:underline">Black Market™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
            <a href="/about/" class="mr-4 hover:underline md:mr-6">About</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
          </li>
          <li>
            <a href="/contact/" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
    

  <script>
    function myHoverFunction() {
      const hoverDiv = document.getElementById("hover");
      hoverDiv.classList.toggle("hover-effect");
    }
  </script>
  </body>
</html>
